.navbar {
	font-family: 'Quattrocento Sans', sans-serif;
}

.navbar-brand {
		font-family: 'Shadows Into Light';
}

.nav-right {
	float: right
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	text-align: left;
}

.bottom-padding {
	padding-bottom: 100px;
}

.container {
	padding-top: 100px;
}
