<head>
	<title>Our Travel Journal</title>
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
</head>
<div class="container-fluid">
	<h1 class="mt-5 mb-5">Ben and Alayna's Travel Journal</h1>
	<div class="row">
		<div class="col-4">
			<img src="assets/banda.jpg">
		</div>
		<div class="col-4">
			<img src="assets/tepotzlan.jpg">
		</div>
		<div class="col-4">
			<img src="assets/castle-selfie.jpg">
		</div>
	</div>
	<div class="mt-5">
		<h2>Follow Along on our Journey</h2>
	</div>
	<div>
		<p>We'll email you when we add a new journal entry (probably one email every few weeks).</p>
	</div>
	<div class="mt-2">
		<p>Enter your email address</p>
	</div>
	<div>
		<input class="mt-1" placeholder="Enter Your Email">
	</div>
	<div class="mt-1">
		<button class="btn btn-primary">Subscribe</button>
	</div>
	<div class="bottom-padding"></div>

</div>
