
h1 {
	color: black;
	font-family: 'Shadows Into Light';
	text-align: center;
	padding-top: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2, p {
	font-family: 'Quattrocento Sans', sans-serif;
}
.bottom-padding {
	padding-bottom: 100px;
}
