<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About Us</title>
		<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
	</head>
	<body>

<div class="jumbotron jumbotron-fluid">
	<div class="container img-responsive">
		<h1 class="display-4 mt-5 col-lg-6 col-sm-3">About Us</h1>
	</div>
</div>
<div class="container">
	<h3 class="m-4">Our Story</h3>
	<div class="row">
		<div class="col-lg-4 col-sm-12">
			<img src="assets/banda-tepozlan-street.jpg">
		</div>
		<div class="col-lg-4 col-sm-12">
			<p class="paragraph-large"> We are Ben and Alayna. We are traveling the world in 2019 (and maybe beyond!). We'll be sharing our travel journal here.
				We don't want to call it a blog because that is a lot of pressure. Enjoy! </p>
		</div>
		<div class="col-lg-4 col-sm-12">
			<img src="assets/chinese-new-year.jpg" class="smaller-img">
		</div>
	</div>
	<div class="bottom-padding"></div>
</div>


</body>
</html>
